<div class="container">
  <div class="row">
    <%= form_with(model: @service, local: true) do |form| %>
      <% if @service.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>
          <ul>
          <% service.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row center card">
      <span>Selecciona Categoria</span>
      <br>
      <br>
        <% Category.all.each  do |category| %>
                 <label class="col s3 m3 l3">
                   <%= radio_button_tag "categories[]", category.id , id:"category_id"%>
                   <span>
                       <%= "#{category.nombre_categoria.truncate(30)} "%>
                   </span>
                 </label>
        <% end %>
    </div>

    <div class="row">

    <div class="input-field col s12 m12 l12">

            <div class="input-field col s12 m12 l12">

              <%= form.date_field :valid_until%>
              <br>
              <p>Fecha de vencimiento</p>
            </div>




            <ul class="collection with-header">
              <li class="collection-header"><h4>Selecciona Skills</h4></li>
                <% Skill.all.each  do |skill| %>
                 <li class="collection-item ">
                   <div>
                     <label>
                        <%= check_box_tag "skills[]", skill.id , id:"skill_id"%>
                          <span>
                              <%= "#{skill.name.truncate(30)} "%>
                          </span>
                      </label>

                   </div>

                 </li>
               <% end %>

            </ul>


  </div>


</div>


      <div class="input-field col s12 m12 l12">
        <%= form.label "Titulo del servicio" %>
        <%= form.text_field :name %>
      </div>

      <div class="input-field col s12 m12 l12">
        <%= form.label :information %>
        <%= form.text_area :information %>
        <br>
        <p>Describe tu servicio </p>
      </div>


      <div class="input-field col s12 m12 l12">
        <%= form.label "Horas" %>
        <%= form.number_field :horas %>
        <br>
        <p>Cantidad de horas estimadas </p>
      </div>

      <div class="input-field col s12 m12 l12">
        <%= form.label "Cantidad de Rutas" %>
        <%= form.number_field :precio %>
        <br>
        <p>RUTAs are the native currency of the Rutanio economy </p>
      </div>
      <div class="input-field col s12 m12 l12">
        <%= form.label "Cantidad de Exos" %>
        <%= form.number_field :exos_amount %>
        <br>
        <p>Exos are the native currency of the OpenExo economy </p>
      </div>
      <div class="input-field col s12 m12 l12">
        <%= form.label "Otro medio de pago" %>
        <%= form.text_area :currency_sugest %>
        <br>
        <p>Puedes sugerir otro metodo de intercambio </p>
      </div>
      <div class="input-field col s12 m12 l12">
        <%= form.label "lenguaje" %>
        <%= form.text_area :lenguaje %>
        <br>
        <p>Debe ser en un lenguaje en particular</p>
      </div>

      <div class="col s12">
         This is an inline input field:
         <div class="input-field inline">
           <%= form.text_field :mail_servicio ,id:"email_inline" ,class:"validate" ,type:"email"%>
           <label for="email_inline">Mail servicio</label>
           <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
         </div>
       </div>



      <div class="input-field col s12 m12 l12">
        <%= form.label "Whatsapp" %>
        <%= form.text_area :wpp %>
        <br>
        <p>Numero de Whatsapp publico </p>
      </div>

      <div class="input-field col s12 m12 l12">
        <%= form.label "Link web" %>
        <%= form.text_area :web %>
        <br>
        <p>Link de pagina web del servicio</p>
      </div>


      <div class="input-field col s12 m12 l12">
        <%= form.label :aditional_info %>
        <%= form.text_area :aditional_info %>
        <br>
        <p>Informacion adicional</p>
      </div>
      <div class="center">
        <div class="actions">
          <%= form.submit "Crear" , class:"btn fucsia_ruta" %>
        </div>
      </div>
    <% end %>

  </div>
</div>
