<%= form_with(model: @service, local: true) do |form| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :information %>
    <%= form.text_area :information %>
  </div>


  <div class="field">
    <%= form.label :skills %>
    <%= form.text_area :skills %>
  </div>

  <div class="field">
    <%= form.label "Cantidad de Rutas" %>
    <%= form.number_field :precio %>
    <br>
    <p>RUTAs are the native currency of the Rutanio economy </p>
  </div>
  <div class="field">
    <%= form.label "lenguaje" %>
    <%= form.text_area :lenguaje %>
    <br>
    <p>RUTAs are the native currency of the Rutanio economy </p>
  </div>
  <div class="field">
    <%= form.label "Cantidad de Exos" %>
    <%= form.number_field :exos_amount %>
    <br>
    <p>RUTAs are the native currency of the Rutanio economy </p>
  </div>
  <div class="field">
    <%= form.label "Mail servicio" %>
    <%= form.text_area :mail_servicio %>
    <br>
    <p>RUTAs are the native currency of the Rutanio economy </p>
  </div>
  <div class="field">
    <%= form.label "Horas" %>
    <%= form.text_area :horas %>
    <br>
    <p>RUTAs are the native currency of the Rutanio economy </p>
  </div>
  <div class="field">
    <%= form.label "Whatsapp" %>
    <%= form.text_area :wpp %>
    <br>
    <p>RUTAs are the native currency of the Rutanio economy </p>
  </div>
  <div class="field">
    <%= form.label "Link web" %>
    <%= form.text_area :web %>
    <br>
    <p>RUTAs are the native currency of the Rutanio economy </p>
  </div>

  <div class="field">
    <%= form.label :valid_until %>
    <%= form.date_select :valid_until %>
  </div>

  <div class="field">
    <%= form.label :aditional_info %>
    <%= form.text_area :aditional_info %>
  </div>

  <div class="row center card">
  <span>Selecciona Categoria</span>
  <br>
  <br>

    <% Category.all.each  do |category| %>

             <label class="col s3 m3 l3">
               <%= radio_button_tag "categories[]", category.id , id:"category_id"%>
               <span>
                   <%= "#{category.nombre_categoria.truncate(30)} "%>

               </span>
             </label>

    <% end %>



</div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
