<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Information:</strong>
  <%= @service.information %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @service.skills %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @service.precio %>
</p>

<p>
  <strong>Valid until:</strong>
  <%= @service.valid_until %>
</p>

<p>
  <strong>Aditional info:</strong>
  <%= @service.aditional_info %>
</p>
<p>
  <strong>lenguaje:</strong>
  <%= @service.lenguaje %>
</p>
<p>
  <strong>Cantidad Exos:</strong>
  <%= @service.exos_amount %>
</p>
<p>
  <strong>Mail de servicio:</strong>
  <%= @service.mail_servicio %>
</p>
<p>
  <strong>Horas:</strong>
  <%= @service.horas %>
</p>
<p>
  <strong>Whatsapp del servicio:</strong>
  <%= @service.wpp %>
</p>
<p>
  <strong>Mail de servicio:</strong>
  <%= @service.mail_servicio %>
</p>
<p>
  <strong>Link Adicional:</strong>
  <%= @service.web %>
</p>
