
<div class="container">
  <p id="notice"><%= notice %></p>
  <!-- Modal Trigger -->
  <div class="center">
   <a class="waves-effect waves-light btn modal-trigger fucsia_ruta pulse" href="#cajaComentar">Aplica</a>
  </div>
  <div class="row">
    <div class="col s12 m6 l6">

        <p>
          <strong>Name:</strong>
          <%= @service.name %>
        </p>

        <p>
          <strong>Information:</strong>
          <%= @service.information %>
        </p>

        <div class=" col s12 m12 l12">
          <h5>Skills</h5>
            <% @service.skills.each do |skill| %>
            <span><%=  skill.name%></span>|
            <% end %>
        </div>



        <p>
          <strong>Precio:</strong>
          <%= @service.precio %>
        </p>

        <p>
          <strong>Precio:</strong>
          <%= @service.currency_sugest %>
        </p>
        <p>
          <strong>Valid until:</strong>
          <%= @service.valid_until %>
        </p>

        <p>
          <strong>Aditional info:</strong>
          <%= @service.aditional_info %>
        </p>
        <p>
          <strong>lenguaje:</strong>
          <%= @service.lenguaje %>
        </p>
        <p>
          <strong>Cantidad Exos:</strong>
          <%= @service.exos_amount %>
        </p>
        <p>
          <strong>Mail de servicio:</strong>
          <%= @service.mail_servicio %>
        </p>
        <p>
          <strong>Horas:</strong>
          <%= @service.horas %>
        </p>
        <p>
          <strong>Whatsapp del servicio:</strong>
          <%= @service.wpp %>
        </p>
        <p>
          <strong>Mail de servicio:</strong>
          <%= @service.mail_servicio %>
        </p>
        <p>
          <strong>Link Adicional:</strong>
          <%= @service.web %>
        </p>



      </div>
      <div class="col s12 m6 l6">
        <h1 class="fucsia_font">Quienes aplicaron a esta oferta?</h1>
        <ul class="collection">


            <% @service.requests.each do |request| %>
           <li class="collection-item avatar">
             <span class="title"><%= request.user.email %></span>
             <p><%= request.mensaje %>
             </p>
            <h4 class=" secondary-content ">
              <% if user_signed_in? && current_user == request.user %>
                <%= link_to "Eliminar ", [@service, request], data:{confirm: "Estas seguro que deseas eliminar? ", :method => :delete}, class:"btn btn-outline-danger morado_ruta"%>
              <% end %>
            </h4>



           </li>
        <% end %>
         </ul>

      </div>



    </div>

            <div class=" col s12 m12 l12">
               <br>
                          <!-- Modal Structure -->
                          <div id="cajaComentar" class="modal">
                            <div class="modal-content center">
                              <h4>Aplica</h4>
                             <%= render "requests/form"%>
                            </div>
                            <div class="modal-footer">
                              <a href="#!" class="modal-close waves-effect waves-green btn-flat ">Salir</a>
                            </div>
                          </div>



            </div>
  </div>
