
<div class="container z-depth-2">

  <!-- Modal Trigger -->
  <div class="row">
<a class="waves-effect waves-light btn morado_ruta modal-trigger" href="#modalAplicacion">Registros</a>
<a class="waves-effect waves-light btn modal-trigger fucsia_ruta pulse" href="#cajaComentar">Contactar</a>

  </div>


  <div class="row">
    <div class="col s4 m4 l4 left">
        <h2 class="fucsia_font"><%= @service.name %></h2>
        <ul>
          <li>Idioma:  <%= @service.lenguaje %></li>
          <li>Horas estimadas:  <%= @service.horas %></li>
          <li>Comparte: <%= social_share_button_tag(@service.name) %></li>
        </ul>
    </div>
    <div class="col s8 m8 l8 right">
      <img src="/images/cel.jpg" alt=""  class="cel_show">
    </div>

      <div class="col s12 m12 l12 center">
          <h2 class="morado_font">Informacion</h2>
          <%= @service.information %>
      </div>


  </div>

  <div class="row">
    <div class="col s12 m12 l12 center">
        <% @service.skills.each do |skill| %>
            <%  skill.color_tag %>
          <div class="chip black-text" style=" background: <%=  skill.color_tag %> !important;" >

            <%=  skill.name.truncate(20) %>
          </div>
      <% end %>


    </div>
  </div>

  <div class="col s12 m12 l12 center">
    <i class="material-icons">update</i>
    <%= @service.valid_until.strftime("%d-%m-%Y ")  %>
    <span>vencimiento</span>
  </div>
  <br>


<div class="row">
  <div class="col s12 m12 l12 center">
    <img src="/images/ruta.png" alt=""  class="iconos_market"> <%= number_with_delimiter(@service.precio.round, :delimiter => ',') %>
    <span>Rutas</span> -
    <% if !@service.exos_amount.nil? %>
    <img src="/images/exos.png" alt=""  class="iconos_market"> <%= number_with_delimiter(@service.exos_amount.round, :delimiter => ',') %>
    <span>Exos</span>
    <% end %> -
    <% if !@service.currency_sugest.nil? %>
     <%= @service.currency_sugest %>
    <span>Otro</span>
    <% end %>


  </div>
</div>


  <div class="row ">
    <div>
      <div class="col s12 m7 l7 ">
       <blockquote>
        <h2 class="fucsia_font">Restricciones o Condiciones</h2>
        <p>
            <%= @service.aditional_info %>
        </p>
       </blockquote>

      </div>

    <div class="col s12 m5 l5">
      <h2 class="morado_font center">Informacion de Contacto</h2>
     <ul class="collapsible">
         <li>
           <div class="collapsible-header"><i class="material-icons morado_font">contact_mail</i>Email</div>
           <div class="collapsible-body">
             <div class="input-field">
               <%= @service.mail_servicio %>

             </div>
           </div>
         </li>


         <li>
           <div class="collapsible-header"><i class="material-icons morado_font">phone</i>Whatsapp</div>
           <div class="collapsible-body">
             <div class="input-field">
                <%= @service.wpp %>
             </div>
           </div>
         </li>
         <li>
           <div class="collapsible-header"><i class="material-icons morado_font">router</i>Sitio Web</div>
           <div class="collapsible-body">
             <div class="input-field">
                  <%= @service.web %>
             </div>
           </div>
         </li>



      </ul>

    </div>
  </div>
</div>

  <!-- Modal Structure -->
  <div id="modalAplicacion" class="modal bottom-sheet">
    <div class="modal-content">
      <ul class="collection">


          <% @service.requests.each do |request| %>
         <li class="collection-item avatar">
           <span class="title"><%= request.contacto_mail %></span>
           <p><%= request.mensaje %>
           </p>
          <h4 class=" secondary-content ">
            <% if user_signed_in? && current_user == request.user %>
              <%= link_to "Eliminar ", [@service, request], data:{confirm: "Estas seguro que deseas eliminar? ", :method => :delete}, class:"btn btn-outline-danger morado_ruta"%>
            <% end %>
          </h4>



         </li>
      <% end %>
       </ul>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>




      <div class=" col s12 m12 l12">
         <br>
                    <!-- Modal Structure -->
                    <div id="cajaComentar" class="modal">
                      <div class="modal-content center">
                       <%= render "requests/form"%>
                      </div>
                      <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat ">Salir</a>
                      </div>
                    </div>



      </div>



    </div>
