<div class="container">
  <%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo ,"Titulo de perfil" %>
    <%= form.text_field :titulo %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion %>
  </div>

  <div class="col s12 m12 l12">
      <label for="">Cargar Foto de portada  / Las recomendaciones para la medida de la imagen son de 500px de ancho X 450px de largo</label>
      <br>
      <div class="file-field field">
      <div class="btn ">
        <span>Foto</span>
        <input type="file">
              <%=form.file_field :avatar , class: 'form-control ' %>
       </div>
        <div class="file-path-wrapper">
          <input class="file-path validate " type="text">
         </div>
        </div>
   </div>
<br><br>
<div class="row">
  <div class="actions center">
    <%= form.submit class:"fucsia_ruta white-text btn "%>
  </div>

</div>

  <% end %>

</div>
