<div class="container">
    <br><br>
    <% if current_user.is_admin? %>
        <% if !current_user.profiles.present? %>
            <div class="row">
              <div class="col s12 m12 l12 center">
                <div class="card-panel center hoverable">
                  <h3>¡Aun no has creado tu perfil publico!  </h3>
                  <h5>Comparte con la comunidad Rutanio tu información publica, creando de esta manera sinergia y nuevas redes de negocio</h5>
                  <br>
                  <%= link_to 'Publicar Perfil', new_profile_path ,class:"btn-large fucsia_ruta " %>
                  <i class="material-icons prefix tooltipped" data-position="bottom" data-tooltip="Una vez publiques tu perfil los otros usuarios de la comunidad Rutanio podran ver tu informacion publica">help_outline</i>
                </div>
              </div>
            </div>
        <% else %>
        <table class="highlight responsive-table centered  ">
          <thead>
            <tr>
              <th>Descripcion</th>
              <th>User</th>
              <th>Ver</th>
              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
          </thead>

          <tbody>
          <% @profiles.each do |profile| %>
              <tr>
                <td><%= profile.descripcion %></td>
                <td><%= profile.user.email %></td>
                <td><%= link_to 'Ver como usuario externo', profile %></td>
                <td><%= link_to 'create', edit_profile_path(profile) ,class:"material-icons orange-text" %></td>
                <td><%= link_to 'delete', profile, method: :delete, data: { confirm: 'Are you sure?' } ,class:"material-icons red-text" %></td>
              </tr>
          <% end %>
          </tbody>
        </table>

        <br>
        <% end %>
<% end %>

    <br>
    <div class="row">
      <div class="col s12 m12 l12 center">
        <ul class="tabs center">
          <li class="tab col s3"><a class="active" href="#test1"><i class="material-icons prefix tooltipped" data-position="bottom" data-tooltip="Recopilación de los servicios que has creado ">help_outline</i> Mis Servicios  </a></li>
          <li class="tab col s3"><a  href="#test2"><i class="material-icons prefix tooltipped" data-position="bottom" data-tooltip="Visualiza las respuestas que otros usuarios le han  dado a tus servicios">help_outline</i> Respuestas</a></li>
          <li class="tab col s3 "><a href="#test3"><i class="material-icons prefix tooltipped" data-position="bottom" data-tooltip="Recopilacion de las solicitudes que has realizado sobre los servicios de la comunidad">help_outline</i> Solicitudes</a></li>
        </ul>
      </div>

      <div id="test1" class="col s12">
         <div class="row">
            <%  @services.each do |service| %>
              <div class="col s12 m6 l4">
                  <%= link_to service  do  %>
                <div class="card hoverable carta">
                  <div class="card-content">
                    <div class="titulo_card">
                      <h2><% service.category_ids.to_s  %></h2>
                      <% if service.category_ids == [1] %>
                      <span class="left chip etiqueta2">Que necesito</span>
                      <br>
                      <div class="titulo_card2">
                        <%= service.name.truncate(60)  %>
                       </div>
                       <% else %>
                       <span class="left chip etiqueta">Que ofrezco</span>
                       <br>
                       <div class="titulo_card ">
                         <%= service.name.truncate(60)  %>
                       </div>
                       <% end %>

                     </div>
                     <div class="left">
                       <p class="black-text"><%= service.information.truncate(50)  %> </p>
                       <br>

                     </div>
                     <br>
                     <div class="row ">
                       <div class="left">
                         <ul class="imagenes_carta">
                           <li class="morado_ruta center">
                            <span class="fucsia_font center"><%= service.requests.count  %></span>
                            <span class="center white-text">#Respuestas</span></li>
                           <li>
                             <% if !service.valid_until.nil? %>
                                 <i class="material-icons">update</i>
                                 <span>vencimiento</span>:
                                 <%= service.valid_until.strftime("%d-%b-%Y")  %>
                             <% end %>
                           </li>
                           <li>
                              <% if !service.precio.nil? %>
                               <a href="#"><img src="/images/ruta.png" alt=""  class="iconos_market">
                                  <%= number_with_delimiter(service.precio.round, :delimiter => ',') %>
                                  RUTA
                                </a>
                              <% end %>
                           </li>

                         </ul>

                         <br>

                           <br>
                       </div>

                     </div>
                  </div>
                  <div class="card-action">
                    <%= link_to 'Eliminar', service, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% service.skills.each do |skill| %>
                    <%  skill.color_tag %>
                  <div class="chip chips_texto" >
                    <%=  skill.name.truncate(20) %>
                  </div>
                  <% end %>
                  </div>
                </div>
              <% end %>
              </div>
            <% end %>
          </div>

        <div class="row" style="padding:2%;">
            <div class="col s12 m12 l12  z-depth-3">
              <h1 class="fucsia_font">Mis Publicaciones</h1>
              <table class="striped responsive-table">
                <thead>
                  <tr>
                    <th>Titulo</th>
                    <th>Precio Rutas</th>
                    <th>Fecha de vencimiento</th>
                    <th>Cantidad de Respuestas </th>
                    <th colspan="3"></th>
                  </tr>
                </thead>
                <tbody>
                  <% @services.each do |service| %>
                    <tr>
                      <td><%= service.name %></td>
                      <td><%= service.precio %></td>
                      <td><%= service.valid_until %></td>
                      <td><%= service.requests.count %></td>
                      <% if service.may_publish? %>
                        <td>
                           Tu servicio se encuentra cerrado<i class="red-text material-icons">notifications_active</i>
                        </td>
                        <% else %>
                        <td>
                          <%= link_to 'Descontinuar', "/services/#{service.id}/unpublish", class:"btn red" , method: :put%>
                        </td>
                      <% end %>
                      <td><%= link_to 'Mirar', service %></td>
                      <td><%= link_to 'Editar', edit_service_path(service) %></td>
                      <td><%= link_to 'Eliminar', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>

            </div>
        </div>



      </div>

      <div id="test2" class="col s12">


        <%  @services.each do |service| %>
          <div class="col s12 m6 l4">
              <%= link_to service  do  %>
                <div class="card hoverable ">
                  <div class="card-content">
                       <div class="center">
                         <div class="titulo_card2">
                           <%= service.name.truncate(40)  %>
                          </div>
                         <ul class="collection">
                           <li class="morado_ruta center">
                            <span class="fucsia_font center"><%= service.requests.count  %></span>
                            <span class="center white-text">#Respuestas</span>
                          </li>
                          <br>
                            <% service.requests.each do |request| %>
                            <ul class="center">
                              <li><%=  .mensaje.truncate(30) %></li>
                              <li><%=  request.user.email %></li>
                            </ul>

                           <% end %>
                         </ul>
                       </div>
                  </div>
                </div>
              <% end %>
          </div>
        <% end %>
      </div>

      <div id="test3" class="col s12">
            <table class="highlight responsive-table centered  ">
              <h3 class="fucsia_font center"> Respuestas</h3>
                <thead>
                  <tr>
                    <th>Nombre del servicio</th>
                    <th>Mensaje</th>
                    <th>Correo servicio</th>
                  </tr>
                </thead>

                <tbody>
                  <% @requests.each do |request| %>
                      <tr>
                        <td> <%=   request.service.name %></td>
                        <td><%=  request.mensaje %></td>
                        <td><%=  request.service.mail_servicio %></td>
                      </tr>
                  <% end %>
                </tbody>
            </table>



      </div>


    </div>

</div>
