<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @comment.user_id %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @comment.profile_id %>
</p>

<p>
  <strong>Calificacion:</strong>
  <%= @comment.calificacion %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
