
    <nav>

      <div class="row">
        <div class="nav-wrapper">

        <div class="col s4 m4 l2">
          <img src="/images/logo.png" class="logo">
        </div>



        <div class="col s8 m8 l10 ">
          <ul class="right hide-on-med-and-down">
            <li><%= link_to "Home", root_path ,class:"menu_inicio"%></li>
            <li><a class="menu_inicio" href="">Herramientas</a></li>
            <li><a class="menu_inicio" href="">Mercado</a></li>
            <li><a class="menu_inicio" href="">Novedades</a></li>
            <li><a class="menu_inicio" href="">Nosotros</a></li>


          </ul>
          <div class="right">
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons black-text">menu</i></a>
          </div>


        </div>


        </div>
      </div>


    </nav>


    <ul class="sidenav" id="mobile-demo">
      <li><%= link_to "Home", root_path ,class:"menu_inicio"%></li>
      <li><a class="menu_inicio" href="">Herramientas</a></li>
      <li><a class="menu_inicio" href="">Mercado</a></li>
      <li><a class="menu_inicio" href="">Novedades</a></li>
      <li><a class="menu_inicio" href="">Nosotros</a></li>
    </ul>


<div class="fixed-action-btn  valign-wrapper">
  <a class="btn-floating btn-large fucsia_ruta">
    <img src="/images/rblanco.png" class="logo_c">

  </a>
  <ul>


    <li><%= link_to  root_path , class:"btn-floating fucsia_ruta"  do  %>
    <i class="material-icons">store</i>
    <% end %>
    </li>
    <% if user_signed_in? %>
    <li> <%= link_to destroy_user_session_path, method: :delete, class:" btn-floating morado_ruta" do  %>
      <i class="material-icons white-text ">close</i>
    <% end %>
    </li>
    <li><%= link_to  services_path , class:"btn-floating fucsia_ruta"  do  %>
    <i class="material-icons">insert_chart</i>
    <% end %>
    </li>
    <li><%= link_to  services_path , class:"btn-floating morado_ruta"  do  %>
    <i class="material-icons">mail_outline</i>
    <% end %>
    </li>

    <% else %>
    <li> <%= link_to new_user_session_path, class:" btn-floating morado_ruta" do  %>
      <i class="material-icons">person</i>
      <% end %>
    </li>
    <% end %>


  </ul>
</div>
