
    <nav>
      <div class="container right">
        <div class="row">
          <div class="nav-wrapper valign-wrapper">
            <div class="hide-on-small-and-down">
              <a href="https://www.rutanio.com/"><img src="/images/logo.png" class="logo"></a>
            </div>

          <div class="col s12 m12 l12 ">
            <ul class="hide-on-med-and-down valign-wrapper">
                <li><a class="menu_inicio " href="https://www.rutanio.com/">Home</a></li>
                <li>
                  <div class="input-field col s12 valign-wrapper">
                    <!-- Dropdown Trigger -->
                    <a class='dropdown-trigger menu_inicio valign-wrapper' href='#' data-target='dropdown1'>Herramientas <i class="material-icons ">arrow_drop_down</i></a>
                      <!-- Dropdown Structure -->
                      <ul id='dropdown1' class='dropdown-content'>
                        <li><a  value="1" target="_blank" href="https://www.rutanio.com/herramientas">Herramientas</a></li>
                        <li><a target="_blank" href="https://www.rutanio.com/faq">Preguntas</a></li>
                      </ul>

                  </div>
                </li>
                <li><%= link_to "Mercado", root_path ,class:"menu_inicio"%></li>
                <li><a class="menu_inicio" href="https://www.rutanio.com/novedades">Novedades</a></li>

                <li>
                  <div class="input-field col s12 valign-wrapper">
                    <!-- Dropdown Trigger -->
                    <a class='dropdown-trigger menu_inicio valign-wrapper' href='#' data-target='dropdown2'>Nosotros <i class="material-icons ">arrow_drop_down</i></a>
                      <!-- Dropdown Structure -->
                      <ul id='dropdown2' class='dropdown-content'>
                        <li><a  value="1" target="_blank" href="https://www.rutanio.com/nosotros">Nosotros</a></li>
                        <li><a target="_blank" href="https://www.rutanio.com/alianzas">Alianzas</a></li>
                        <li><a target="_blank" href="https://www.rutanio.com/embajadores">Embajadores</a></li>
                        <li><a target="_blank" href="https://www.rutanio.com/nuestro-equipo">Equipo</a></li>
                      </ul>

                  </div>
                </li>

            </ul>
              <div class="right">
                  <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons black-text">menu</i></a>
              </div>

            </div>


          </div>
        </div>


      </div>



    </nav>


    <ul class="sidenav" id="mobile-demo">
      <li><%= link_to "Home", root_path ,class:"menu_inicio"%></li>

      <li><a class="menu_inicio" href="">Herramientas</a></li>
      <li><a class="menu_inicio" href="">Mercado</a></li>
      <li><a class="menu_inicio" href="">Novedades</a></li>
      <li><a class="menu_inicio" href="">Nosotros</a></li>
    </ul>


<div class="fixed-action-btn  valign-wrapper">
  <% if user_signed_in? %>

  <% else %>
  <div class="midiv">
      <h6 class="morado_font ">Registrate</h6>
  </div>
  <div class="midiv2" style="display:none;">
      <h6 class="morado_font saludo">Registrate</h6>
  </div>

  <% end %>

  <br>
  <a class="btn-floating btn-large fucsia_ruta">
    <img src="/images/rblanco.png" class="logo_c">

  </a>
  <ul>


    <li><%= link_to  root_path , class:"btn-floating fucsia_ruta"  do  %>
      <i class="material-icons tooltipped" data-position="left" data-tooltip="Mercado">store</i>
    <% end %>

    </li>
    <% if user_signed_in? %>
    <li><%= link_to  services_path , class:"btn-floating morado_ruta"  do  %>
    <i class="material-icons tooltipped" data-position="left" data-tooltip="Mis Servicios"">insert_chart</i>
    <% end %>
    </li>
    <li><%= link_to  welcome_postulaciones_path , class:"btn-floating fucsia_ruta"  do  %>
    <i class="material-icons tooltipped" data-position="left" data-tooltip="Mis Postulaciones"">mail_outline</i>
    <% end %>
    </li>
    <li> <%= link_to edit_user_registration_path, class:" btn-floating morado_ruta" do  %>
      <i class="material-icons tooltipped" data-position="left" data-tooltip="Mi Perfil"">person</i>
      <% end %>
    </li>
    <li> <%= link_to destroy_user_session_path, method: :delete, class:" btn-floating fucsia_ruta" do  %>
      <i class="material-icons white-text tooltipped" data-position="left" data-tooltip="Cerrar sesion" ">close</i>
    <% end %>
    </li>

    <% else %>
    <li> <%= link_to new_user_session_path, class:" btn-floating morado_ruta" do  %>
      <i class="material-icons white-text tooltipped" data-position="left" data-tooltip="Iniciar sesión">person</i>
      <% end %>
    </li>
    <% end %>


  </ul>

</div>
