
<div class="container">
  <div class="row">

    <div class="center">
      <h2>Mercado</h2>
       <p>Encuentra profesionales en diversas areas o postula tus servicios </p>
       <br>
       <% if user_signed_in? %>
       <a class="waves-effect waves-light  btn modal-trigger white-text fucsia_ruta" href="#renderModal">Crea Nuevo</a>
       <% else %>
       <%= link_to "Crea Nuevo", new_user_session_path,  class:"waves-effect waves-light  btn modal-trigger white-text fucsia_ruta"  %>

       <% end %>


    </div>
     <br>
     <div class="container">
       <div class="row center">
         <div class="col s12 m12 l12">
           <ul class="listado_card center">
             <li><%= link_to "Todos", root_path , class:"fucsia_font " %></li>
             <% @categories.each do |category| %>
               <li><%= link_to category.nombre_categoria, category , class:"morado_font "%></li>
             <% end %>
           </ul>

         </div>

       </div>


     </div>





    <% @services.each do |service| %>

      <div class="col s12 m6 l4">
          <%= link_to service  do  %>
        <div class="card hoverable">
          <div class="card-content black-text">
            <span class="card-title "><%= service.name  %></span>
            <p><%= service.information.truncate(150)  %> </p>
            <div class="container">
              <div class="row">
                <i class="material-icons">update</i>
                <%= service.valid_until.strftime("%d-%m-%Y ")  %>
                <span>vencimiento</span>
              </div>
              <div class="row">
                <a href="#"><img src="images/ruta.png" alt=""  class="iconos_market"> <%= number_with_delimiter(service.precio.round, :delimiter => ',') %></a>
                <span>Rutas</span>
              </div>
              <div class="row">
                <a href="#"><img src="images/exos.png" alt=""  class="iconos_market"> <%= number_with_delimiter(service.precio.round, :delimiter => ',') %></a>
                <span>Rutas</span>
              </div>
            </div>
          </div>
          <div class="card-action">

            <div class="col s3 m3 l3 bage ">
              <span class="new badge morado_ruta">Desarrollador</span>
            </div>
            <div class="col s3 m3 l3 bage">
              <span class="new badge morado_ruta">Desarrollador</span>
            </div>
            <div class="col s3 m3 l3 bage">
              <span class="new badge morado_ruta">Desarrollador</span>
            </div>
            <div class="col s3 m3 l3 bage">
              <span class="new badge morado_ruta">Desarrollador</span>
            </div>
            <div class="col s3 m3 l3 bage">
              <span class="new badge morado_ruta">Desarrollador</span>
            </div>


          </div>
          <br>
        </div>
             <% end %>
      </div>


    <% end %>

  </div>
  <br>


   <!-- Modal Structure -->
   <div id="renderModal" class="modal modal-fixed-footer">
     <div class="modal-content">
     <%= render 'services/form', service: @service %>

     </div>
     <div class="modal-footer">
       <a href="#!" class="modal-close waves-effect waves-green btn-flat">Salir / Esc</a>
     </div>
   </div>


  <div class="row center">
    <%= will_paginate @services ,class:"flickr_pagination" %>

  </div>
</div>
