<br><br><br>

<br><br><br>
<div class="row center">
  <div class="col s12 m12 l12 right">
    <div class="row">
      <div class="center">
        <div class="tituloMercado">
          <h2>Mercado</h2>
          <h4 class="beta ">beta</h4>
        </div>
         <p class="parrafos_r">Encuentra profesionales en diversas areas o postula tus servicios </p>
         <br>
         <% if user_signed_in? %>
             <a class="waves-effect waves-light  btn modal-trigger white-text fucsia_ruta" href="#renderModal">Crea Nuevo <i class="material-icons right">add_circle_outline</i></a>
             <% else %>
             <%= link_to  new_user_session_path,  class:"waves-effect waves-light  btn modal-trigger white-text fucsia_ruta"  do %>
                Crear nuevo
               <i class="material-icons right">add_circle_outline</i>
             <% end %>
         <% end %>
      </div>
    </div>


    <br>
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l12 center buscador">
          <%= form_tag welcome_search_path, :method => :get do %>
            <%= text_field_tag   class:" black-text  input-field inline", placeholder:"Buscar"%>
            <%= submit_tag 'Buscar' ,class:"btn morado_ruta"%>
          <% end %>
        </div>

      </div>
    </div>

  </div>

  <div class="row center">
    <div class="col s12 m12 l12">
      <ul class="listado_card center">
        <li><%= link_to "Todos", root_path , class:"fucsia_font" %></li>
        <% @categories.each do |category| %>
         <% if category.id == 1 %>
          <li><%= link_to category.nombre_categoria, category , class:"morado_font"%></li>
          <% else %>
          <li><%= link_to category.nombre_categoria, category , class:"fucsia_font"%></li>
          <% end %>
        <% end %>
          <li><%= link_to "Closed", welcome_vencido_path , class:"morado_font" %></li>
      </ul>
      <br>


    </div>
  </div>


</div>


<div class="container cuerpo">
  <div class="row">


    <% if !@services.empty? %>
    <div class="row">
      <%  @serv.each do |service| %>
        <div class="col s12 m6 l4">
            <%= link_to service  do  %>
          <div class="card hoverable carta">
            <div class="card-content">
              <div class="titulo_card">
                <h2><% service.category_ids.to_s  %></h2>
                <% if service.category_ids == [1] %>
                <span class="left chip etiqueta2">Que necesito</span>
                <br>
                <div class="titulo_card2">
                  <%= service.name.truncate(60)  %>
                 </div>
                 <% else %>
                 <span class="left chip etiqueta">Que ofrezco</span>
                 <br>
                 <div class="titulo_card ">
                   <%= service.name.truncate(60)  %>
                 </div>
                 <% end %>

               </div>
               <div class="left">
                 <p class="black-text"><%= service.information.truncate(50)  %> </p>
               </div>
               <br>
               <div class="row ">
                 <div class="left">
                   <ul class="imagenes_carta">
                     <li>
                       <% if !service.valid_until.nil? %>
                           <i class="material-icons">update</i>
                           <span>vencimiento</span>:
                           <%= service.valid_until.strftime("%d-%b-%Y")  %>
                       <% end %>
                     </li>
                     <li>
                        <% if !service.precio.nil? %>
                         <a href="#"><img src="/images/ruta.png" alt=""  class="iconos_market">
                            <%= number_with_delimiter(service.precio.round, :delimiter => ',') %>
                            RUTA
                          </a>
                        <% end %>
                     </li>
                     <li>
                        <% if !service.exos_amount.nil? %>
                          <a href="#"><img src="/images/exos.png" alt=""  class="iconos_market"> <%= number_with_delimiter(service.exos_amount.round, :delimiter => ',') %></a>
                          <span>EXOS</span>
                        <% end %>
                     </li>
                   </ul>

                   <br>

                     <br>
                 </div>

               </div>
            </div>
            <div class="card-action">
              <% service.skills.each do |skill| %>
              <%  skill.color_tag %>
            <div class="chip chips_texto" >
              <%=  skill.name.truncate(20) %>
            </div>
            <% end %>
            </div>
          </div>
        <% end %>
        </div>


      <% end %>


    </div>




    <% else %>

      <div class="container busque">
          <div class="card">
            <div class="card-body">
              <h1 class="text-center">No existen coincidencias</h1>
            </div>
          </div>

      </div>


    <% end %>

  </div>

</div>
