<div class="container">
  <div class="row">
    <%= form_with(model: [@service, @request], local: true) do |form| %>
      <% if @request.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(request.errors.count, "error") %> prohibited this @request from being saved:</h2>

          <ul>
          <% request.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="input-field col s12">
            <%= form.text_area :mensaje, id:"textarea2", class:"materialize-textarea" ,data_length:"900" %>

            <label for="textarea2">Maximo 900 caracteres</label>
      </div>


      <div class="field">
        <h2 class="fucsia_font">Mensaje</h2>

      </div>








      <div class="actions">
        <%= form.submit "Aplicar", class:"btn fucsia_ruta"%>
      </div>
    <% end %>


  </div>
</div>
