<!DOCTYPE html>
<html>
  <head>
    <title>Rutanio marketplace - Beta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Quantico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans:regular,italic,500,700%7CWork+Sans:100,200,300,regular,500,600" media="all">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </head>
  <p id="notice"><%= notice %></p>

  <body>
    <header>
      <%= render "partials/nav" %>
    </header>




    <%= yield %>

    <%= render "partials/pie" %>

        <!-- Compiled and minified JavaScript -->
        <script defer  src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
